{% extends "base.html" %}
{% block content %}
<h1>โพสต์ของฉัน</h1>
<form class="form-inline" method="GET" action="{% url 'index' %}">
    <div class="form-group mr-auto">
        <input type="text" class="form-control ml-3" id="inputSearch" name="inputSearch" placeholder="Search"
            value="{{search_txt}}">
            <button type="submit" class="btn btn-primary ml-3">ค้นหา</button>
    </div>
    <a class="btn btn-danger ml-3" href="{% url 'add_post' %}">สร้างโพสต์ใหม่</a>  
</form>
<br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DateTime</th>
                <th scope="col">Text Book</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for p in post %}
            <tr>
                <td>{{ p.create_date }}</td>
                <td>{{ p.text_book }}</td>
                <td>{{ p.get_type_display }}</td>
                {% if p.status == "OPEN" %}
                    <td><button type="button" class="btn btn-success" disabled>{{ p.status }}</button></td>
                {% else %}
                    <td><button type="button" class="btn btn-warning" disabled>{{ p.status }}</button></td>
                {% endif %}
                <td>
                    <a href="{% url 'view_post' post_id=p.id %}">
                        <div class="btn btn-info" id="{{p.id}}">ดูรายละเอียดโพสต์</div>
                    </a>
                    <a href="{% url 'close_post' post_id=p.id %}">
                        <div class="btn btn-danger ml-3" id="{{p.id}}">ปิดโพสต์</div>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}